body{
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #2B405B;
}

.container{
  background: #f9f9f9;
  min-height: 100vh;
}

.navbar{
    height: 72px;
    background: #ffffff;
    border-bottom: 1px solid #D8DDE6;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: auto;
    height: 72px;
    max-width: 1330px;
}

.logo{
  margin-right: 20px;
}

.main{
  padding: 0 20px;
  margin: auto;
  max-width: 1330px;

}

.main .header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar-left{
  display: flex;
  align-items: center;
}

.navWide {
  display: block;
  margin: 0 auto;
}

.navWide .nav-menus {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
}
.navWide .nav-menus a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #2B405B;
  height: 72px;
}

.navNarrow{
  display: none;
}

.navNarrow i {
  float: left;
  cursor: pointer;
  color: #FFF;
}

.navNarrow .narrowLinks {
  display: none;
}
.navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  padding: 0.5em 0;
}

.navWide .nav-menus a.highlighter{
  border-bottom: 2px solid #657FAC ;
  color: #657FAC;
}

.fa-down{
  color: #657FAC;
  margin-top: 2px;
}

.navbar-right{
  display: flex;
  align-items: center;
}

.navbar-right .right-menus{
  display: flex;
  align-items: center;
}

.right-menus .menu-icon{
  color: #77909D;
  font-size: 23px;
  margin: 0 8px;
}

.navbar-right .menu-line{
  border-left: 2px solid #D8DDE6;
  height: 30px;
  width: 15px;
}

.menu-profile-image{
  width: 32px;
  border: 1px solid #A8B7C7;
  border-radius: 4px;
  margin: 0 8px;
}

.menu-profile{
  display: flex;
  align-items: center;
}

.menu-drop{
  width: 65px;
  display: flex;
  align-items: center;
  font-size: 23px;
}

.menu-drop-image{
  width: 32px;
  border: 1px solid #A8B7C7;
  border-radius: 4px;
}

.button{
  border-radius: 4px;
  border: 1px solid #A8B7C7;
  padding: 0 15px;
  float: left;
  margin-left: 10px;
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.button .plus{
  font-size: 25px;
  margin-right: 5px;
}

.button.normal{
  background: #ffffff;
  color: #2B405B;
}

.button.grey{
  background: #657FAC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
}

.widgets{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.widget{
  background: #ffffff;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  max-width: 430px;
  width: 100%;
  overflow: hidden;
  border-radius: 6px; 
  min-height: 300px;
  margin: 0 0 20px 0;
}

.widget .header{
  border-bottom: 1px solid #D8DDE6; 
  min-height: 50px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widget .content{
  padding: 15px;
  min-height: 188px;
}

.widget .footer{
  border-top: 1px solid #D8DDE6; 
  height: 30px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.footer .users{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.footer .users .user{
  border-radius: 50%;
  height: 24px;
  width: 24px;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .footer .tags{
    font-size: 10px;
    padding: 3px 5px;
    background: rgba(101,127,172,0.1);
    color: #657FAC;
  }

.dashboard-title{
  font-weight: 500;
}

.widget .header .actions{
  display: flex;
  align-items: center;
  color: #77909D;
  position: relative;
  font-size: 14px;
}

.widget .header .actions .more{
  cursor: pointer;
  position: relative;
}

.Dropdown-menu{
    background: white;
     box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.25); 
    cursor: pointer;
}

.Dropdown-option{
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Dropdown-option:hover {
  background-color: #657FAC;
  color: #ffffff;
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  /* border: 1px solid #ccc; */
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  width: 125px;
  text-align: right;
  transition: all 200ms ease;
}

.Dropdown-placeholder {
  margin-right: 30px;
  color: #77909D;
}

.Dropdown-control:hover {
  cursor: pointer;
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 7px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  /* border: 1px solid #ccc; */
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); */
  box-sizing: border-box;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.more-box{
  padding: 0;
}

.legend-list{
  display: flex;
  margin-bottom: 15px;
  /*align-items: center;*/
  }

  .legend-content .name{
    font-size: 14px;
    margin-bottom: 5px;
    color: #2B405B;
  }

  .circle-back{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 10px;
  }

  .recharts-wrapper{
    margin-top: -30px;
    width: 100%;
  }

  .activity .users{

  }

  .activity .users .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }

  .activity .users .user .name{
    color: #2B405B;
    font-size: 14px;
    width: 150px;
  }

  .activity .users .user .icon{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .full-line{
    width: 160px;
    border-radius: 100px;
    background: #D8DDE6;
    height: 10px;
    position: relative;
  }

  .fill-line{
    position: absolute;
    left:0;
    top: 0;
    border-radius: 100px;
    height: 10px;
  }

  .recharts-surface{
    transform-origin: 75% 50%;
    transform: scale(1,-1) rotate(90deg);
  }


@media (max-width: 750px) {
  .navWide {
    display: none;
  }
  .navNarrow {
    display: block;
  }

  .logo{
    display: none;
  }

  .mobile-logo{
    display: block;
  }

  .main .header{
    flex-wrap: wrap;
    justify-content: center;
  }

  .widget .header{
    flex-wrap: nowrap;
    justify-content: space-between;
  }

}

@media(max-width: 500px){
.activity .users .user{
    justify-content: flex-start;
  }

  .widget .content.radial-chart{
    overflow-x: scroll;
  overflow-y: hidden;
  }
}

@media (max-width: 1000px){
  .widget{
    margin: 10px auto;
  }

  .menu-icon{
    display: none;
  }

  .menu-line{
    display: none;
  }
}
@media (max-width: 1460px){
  .widgets{
    justify-content: space-around;
  }
}